page-login {
    ion-content {
        background-color: #333333 !important;
        text-align: center !important;
        ion-list {
            background-color: #333333 !important;
            ion-item {
                background-color: #333333 !important;
                div {
                    background-color: #333333 !important;
                    color: white !important;
                }
            }
        }
    }
}
