page-user {
    ion-content {
        background-color: #333333 !important;
        ion-row {
            text-align: center !important;
            ion-col {
                border: thick solid white;
            }
        }
    }
}
